
  .pic_content {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .pic_content > div {
    width:33%;
  }


 
  #main_title{
    background-color: #2D3250;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-size: 60px;
    color: #DCF2F1;
  }

  #main_info {
    text-align: justify;
    font-size: 20px;
    color: #DCF2F1;
    margin-left: 200px;
    margin-right: 200px;
  }


  .pic{
    text-align: center;
    color: #DCF2F1;
    background-color: rgb(67, 37, 95); 
    margin: 15px; padding: 25px;
  }

  .pic img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  /* for mobile */

  @media only screen and (max-width: 500px) {
    #main_title {
      font-size: 30px;
      margin: 5px;
    }

    #main_info{
      font-size: 15px;
      margin: 5px;
    }

    .pic_content {
      display: block;
      margin: 0;
    }

    .pic_content > div {
      width: 100%;
      margin-top: 5px;
      margin-right: 0;
      margin-left: 0;
    }
    .pic p {
      font-size: 20px;
      padding: 10px;
    }
  }

  /* padlet */

  @media only screen and (max-width: 900px) and (min-width: 501px) {
    #main_title {
      font-size: 50px;
      margin: 5px;
    }

    #main_info{
      font-size: 20px;
      margin: 5px;
    }

    .pic_content {
      display: block;
      margin: 0;
    }

    .pic_content > div {
      width: 100%;
      margin-top: 15px;
      margin-right: 0;
      margin-left: 0;
    }
    .pic p {
      font-size: 20px;
      padding: 10px;
    }
  }